/*-- Imports --*/
.header {
  color: #bece95;
  font-family: 'Cinzel Decorative', sans-serif;
  font-size: 3.5rem;
  text-align: center;
}
.body-copy {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  color: #353f13;
}
.small-text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: .8rem;
  color: #bece95;
  letter-spacing: .2rem;
}
.logo-left .home-header a {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.banner {
  background-color: rgba(255, 255, 255, 0.11);
  text-align: center;
  width: 100%;
}
.desktop-nav {
  background-color: #90bc61;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  font-family: 'Josefin Sans', sans-serif;
  font-size: .8rem;
  text-transform: uppercase;
}
.desktop-nav .nav-logo {
  width: 120px;
  margin-left: 30px;
}
.desktop-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.desktop-nav ul li {
  padding: 30px;
  font-weight: 500;
}
.desktop-nav ul li a {
  text-decoration: none;
  color: #353f13;
  padding-top: 80px;
  padding-bottom: 80px;
}
.hamburger-cross {
  background: #bece955b;
  border: 0;
  border-radius: 50%;
  color: #056839;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 25px;
  outline: none;
  z-index: 1000000000;
}
.hamburger {
  background: #bece955b;
  border: 0;
  border-radius: 50%;
  color: #056839;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 25px;
  outline: none;
  z-index: 1000000000;
  font-size: 28px;
  line-height: 45px;
  padding: 5px 15px 5px 15px;
}
.cross {
  background: #bece955b;
  border: 0;
  border-radius: 50%;
  color: #056839;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 25px;
  outline: none;
  z-index: 1000000000;
  font-size: 60px;
  height: 50px;
  line-height: 65px;
  padding: 0 15px 0 15px;
}
.ham-menu {
  z-index: 1000000000;
  font-weight: bold;
  font-size: 0.8rem;
  width: 100%;
  background: #39b54a;
  position: absolute;
  text-align: center;
  font-size: 1rem;
  left: 0;
}
.ham-menu .nav-main {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.ham-menu .nav-main li {
  display: block;
  padding: 15px 0 15px 0;
  border-bottom: #bece95 1px solid;
}
.ham-menu .nav-main li a {
  text-decoration: none;
  margin: 0px;
  color: #10110c;
}
.ham-menu .nav-main li:hover {
  display: block;
  background: #056839;
  padding: 15px 0 15px 0;
  border-bottom: #cccec6 1px solid;
}
.ham-menu .nav-main li:hover a {
  color: #bece95;
  text-decoration: none;
}
.img-sm {
  max-width: 150px;
  width: 100%;
}
.img-md {
  max-width: 500px;
  width: 100%;
}
.img-lg {
  max-width: 700px;
  width: 100%;
}
.grid-4 {
  max-width: 150px;
  width: 100%;
  -webkit-box-shadow: 1px 1px 3px #10110c;
          box-shadow: 1px 1px 3px #10110c;
  margin: 10px 15px;
}
.h2 {
  color: #353f13;
  font: normal 400 2rem/1.5 'Cinzel Decorative', sans-serif;
  margin-top: 25px;
}
.h3 {
  color: #a1d73f;
  font: normal 400 1.5rem/1.5 'Cinzel Decorative', sans-serif;
  margin-top: 25px;
  text-shadow: 1px 1px 2px #10110c;
}
.h4 {
  color: #353f13;
  font: normal 400 1.25rem/1.5 'Cinzel Decorative', sans-serif;
  margin-top: 25px;
}
.h5 {
  color: #353f13;
  font: normal 400 1rem/1.5 'Cinzel Decorative', sans-serif;
  margin-top: 25px;
}
.btn {
  background-color: #f3b350;
  border-radius: 5px;
  padding: 10px 15px;
}
/*-- Reset Rule --*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}
/*---------- Font Families ----------*

             Google Fonts 

* Cinizel Decorative:   'Cinzel Decorative'
* Josefin Sans:         'Josefin Sans'    
			
-----------------------------------*/
/*--********************** Universal Styling (begin) ******************--*/
/*-- Body --*/
html,
body {
  height: 100%;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  color: #353f13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.h2,
.h3,
.h4,
.h5,
.h6 {
  text-align: center;
}
button {
  background-color: #f3b350;
  border-radius: 5px;
  padding: 10px 15px;
}
/*-- Header --*/
.home-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-attachment: fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 80vh;
}
.home-header .hero-banner .top-logo {
  width: 250px;
}
.home-header h1 {
  color: #bece95;
  font-family: 'Cinzel Decorative', sans-serif;
  font-size: 3.5rem;
  text-align: center;
  margin-top: 50px;
  text-shadow: 1px 1px 2px #10110c, 0 0 25px #cccec6, 0 0 5px #a1d73f;
}
.home-header .guarantee {
  margin-top: 15px;
  margin-bottom: 115px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: .8rem;
  color: #bece95;
  letter-spacing: .2rem;
  text-align: center;
  text-shadow: 1px 1px 2px #10110c, 0 0 25px #cccec6, 0 0 5px #a1d73f;
}
.home-header .hamburger {
  background: #bece955b;
  border: 0;
  border-radius: 50%;
  color: #056839;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 25px;
  outline: none;
  z-index: 1000000000;
  font-size: 28px;
  line-height: 45px;
  padding: 5px 15px 5px 15px;
}
.home-header .cross {
  background: #bece955b;
  border: 0;
  border-radius: 50%;
  color: #056839;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 25px;
  outline: none;
  z-index: 1000000000;
  font-size: 60px;
  height: 50px;
  line-height: 65px;
  padding: 0 15px 0 15px;
}
.home-header .menu {
  z-index: 1000000000;
  font-weight: bold;
  font-size: 0.8rem;
  width: 100%;
  background: #39b54a;
  position: absolute;
  text-align: center;
  font-size: 1rem;
  left: 0;
}
.home-header .menu .nav-main {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.home-header .menu .nav-main li {
  display: block;
  padding: 15px 0 15px 0;
  border-bottom: #bece95 1px solid;
}
.home-header .menu .nav-main li a {
  text-decoration: none;
  margin: 0px;
  color: #10110c;
}
.home-header .menu .nav-main li:hover {
  display: block;
  background: #056839;
  padding: 15px 0 15px 0;
  border-bottom: #cccec6 1px solid;
}
.home-header .menu .nav-main li:hover a {
  color: #bece95;
  text-decoration: none;
}
.home-header .desktop-nav {
  display: none;
}
.home-about {
  padding: 10px 15px;
}
.home-about img {
  max-width: 500px;
  width: 100%;
}
.home-about h2 {
  color: #353f13;
  font: normal 400 2rem/1.5 'Cinzel Decorative', sans-serif;
  margin-top: 25px;
  text-align: center;
}
.home-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 15px;
}
.home-services h3 {
  color: #a1d73f;
  font: normal 400 1.5rem/1.5 'Cinzel Decorative', sans-serif;
  margin-top: 25px;
  text-shadow: 1px 1px 2px #10110c;
  text-align: center;
}
.home-services .two-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home-services .two-col .left-col,
.home-services .two-col .rt-col {
  width: 50%;
}
.home-services .four-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-top: 25px;
  padding: 10px 0;
}
.home-services .four-grid img {
  max-width: 150px;
  width: 100%;
  -webkit-box-shadow: 1px 1px 3px #10110c;
          box-shadow: 1px 1px 3px #10110c;
  margin: 10px 15px;
}
/*-- Main --*/
/*-- Footer --*/
.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.social-icons ul {
  text-align: center;
}
.social-icons ul li {
  list-style-type: none;
  display: inline;
}
.social-icons ul li a img {
  margin: 30px 50px;
  width: 50px;
}
/*--******************** Start 650 Media Query *********************--*/
/*--********************* End 650 Media Query *********************--*/
/*--******************** Start 950 Media Query *********************--*/
/*--********************* End 950 Media Query *********************--*/
/*--******************** Start 1250 Media Query *********************--*/
/*--********************* End 950 Media Query *********************--*/
/*--******************** Start 1500 Media Query *********************--*/
/*--********************* End 1500 Media Query *********************--*/
