/*-- Imports --*/
@import "variables"; // variables.less file
@import "mixins"; // mixins.less file

/*-- Reset Rule --*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

/*---------- Font Families ----------*

             Google Fonts 

* Cinizel Decorative:   'Cinzel Decorative'
* Josefin Sans:         'Josefin Sans'    
			
-----------------------------------*/

/*--********************** Universal Styling (begin) ******************--*/

/*-- Body --*/

// (begin) Sticky Footer
html, body {
    height: 100%;
}

body {
    .body-copy();
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

// (end) Sticky Footer

.h2, .h3, .h4, .h5, .h6 {
    text-align: center;
}

button {
    .btn();
}


/*-- Header --*/
.home-header {
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    height: 80vh;

    .hero-banner {
        .top-logo {  //Hero Logo
            width: 250px;
        }
    }

    h1 {
        .header();
        margin-top: 50px;
        text-shadow: @txt-shdw;
    }

    .guarantee { //100% Satisfaction line
        margin-top: 15px;
        margin-bottom: 115px;
        .small-text ();
        text-align: center;
        text-shadow: @txt-shdw;
    }

    // Hamburger Menu (begin)    
    .hamburger{
        .hamburger();
    }

    .cross{
        .cross();
    }

    .menu {
        .ham-menu();
    }
    
    // Hamburger Menu (end)

    .desktop-nav {
        display: none;
    }
}



.home-about {
    padding: @pad;

    img {
        .img-md();
    }

    h2 {
        .h2();
    }
}

.home-services, .home-portfolio {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: @pad;
}

.home-services {

    h3 {
        .h3();
    }

    .two-col {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    
        .left-col, .rt-col {
            width: 50%;
        }
    }

    .four-grid {
        display: flex;
        flex-flow: column wrap;
        margin-top: 25px;
        padding: 10px 0;

        img {
            .grid-4();
        }
    }
}

// .home-portfolio {
//     .m {
//         display: block;
//         width: 232px;
//         height: 500px;
//         position: relative;
//         float: right;
//         padding: 0 30px 0 40px;
//         margin-top: 40px;
//         box-shadow: -10px 0 0 #D6D6D6;

//         .li {
//             display: block;
//             width: 100px;
//             height: 100px;
//             position: relative;
//             z-index: 1000;
//             float: left;
//             margin: 0 10px 10px 0;
//             border: solid 3px #55BFE2;
//             background-color: #55BFE2;
//             outline: none;
//             cursor: pointer;
//         }

//         .li:focus img {
//             opacity: 0.3;
//         }

//         .li>img {
//             width: 100px;
//             height: 100px;
//             min-width: 100px;
//             min-height: 100px;
//             max-width: 100px;
//             max-height: 100px;
//             position: absolute;
//             left: 0;
//             top: 0;
//             transition: 0.3s;
//         }

//         .cube-wrap {
//             // width: 500px;
//             // height: 500px;
//             // position: absolute;
//             // top: 0;
//             // right: 400px;
//             // perspective: 1000px;

//             .cube {
//                 // width: 500px;
//                 // height: 500px;
//                 // position: absolute;
//                 // top: 0;
//                 // left: 0;
//                 transform-style: preserve-3d;
//                 transform: rotateX(0deg) translateZ(-250px);
//                 transition: 2s 9999999s;
//             }

//             .cube {
//                 div {
//                     width: 500px;
//                     height: 500px;
//                     // position: absolute;
//                     // top: 0;
//                     // left: 0;
//                     background-color: #222;
//                 }

//                 .front {
//                     transform: rotateY(0deg) translateZ(250px);
//                 }

//                 .back {
//                     transform: rotateX(180deg) translateZ(250px);
//                 }

//                 .right {
//                     transform: rotateY(90deg) translateZ(250px);
//                 }

//                 .left {
//                     transform: rotateY(-90deg) translateZ(250px);
//                 }

//                 .top {
//                     transform: rotateX(90deg) translateZ(250px);
//                 }

//                 .bottom {
//                     transform: rotateX(-90deg) translateZ(250px);
//                 }

//                 img {
//                     width: 100%;
//                     // height: 100%;
//                     min-width: 100%;
//                     // min-height: 100%;
//                     max-width: 100%;
//                     // max-height: 100%;
//                     position: absolute;
//                     left: 0;
//                     top: 0;
//                 }
//             }
//         }

//         .li:focus~.cube-wrap .cube {
//             transition: 1.2s;
//         }

//         .m1:focus~.cube-wrap .cube {
//             transform: translateZ(-250px) rotateY(0deg);
//         }

//         .m2:focus~.cube-wrap .cube {
//             transform: translateZ(-250px) rotateY(-90deg);
//         }

//         .m3:focus~.cube-wrap .cube {
//             transform: translateZ(-250px) rotateX(-90deg);
//         }

//         .m4:focus~.cube-wrap .cube {
//             transform: translateZ(-250px) rotateY(90deg);
//         }

//         .m5:focus~.cube-wrap .cube {
//             transform: translateZ(-250px) rotateX(90deg);
//         }

//         .m6:focus~.cube-wrap .cube {
//             transform: translateZ(-250px) rotateX(180deg);
//         }
//     }
// }
    








/*-- Main --*/


/*-- Footer --*/
.footer {
    flex-shrink: 0;
}

.social-icons {
    ul {
        text-align: center;
        li {
            list-style-type: none;
            display: inline;
            a {
                img {
                    margin: 30px 50px;
                    width: 50px;
                }

            }
        }
    }
}


/*--******************** Start 650 Media Query *********************--*/



/*--********************* End 650 Media Query *********************--*/

/*--******************** Start 950 Media Query *********************--*/



/*--********************* End 950 Media Query *********************--*/

/*--******************** Start 1250 Media Query *********************--*/



/*--********************* End 950 Media Query *********************--*/

/*--******************** Start 1500 Media Query *********************--*/



/*--********************* End 1500 Media Query *********************--*/
