.header {
  color: #bece95;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 3.5em;
  text-align: center;
}
.body-copy {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1em;
  color: #353f13;
}
.small-text {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.8em;
  color: #bece95;
  letter-spacing: 0.2em;
}
.guarantee {
  margin-top: 80px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 0.8em;
  color: #bece95;
  letter-spacing: 0.2em;
  text-align: center;
}
header {
  background: #ccc url(../images/header-edit.jpg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}
.top-logo {
  width: 250px;
  margin-left: 40px;
}
.nav-logo {
  width: 120px;
  margin-left: 30px;
}
h1 {
  color: #bece95;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 3.5em;
  text-align: center;
  margin-bottom: 80px;
}
nav {
  background-color: #90bc61;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}
nav ul li {
  padding: 30px;
  font-weight: 500;
}
nav a {
  text-decoration: none;
  color: #353f13;
  padding-top: 80px;
  padding-bottom: 80px;
}
