/*-- Imports --*/
@import "variables"; // variables.less file
@import "mixins"; // mixins.less file

/*-- Reset Rule --*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

/*---------- Font Families ----------*

             Google Fonts 

* Cinizel Decorative:   'Cinzel Decorative'
* Josefin Sans:         'Josefin Sans'    
			
-----------------------------------*/

/*--********************** Universal Styling (begin) ******************--*/

/*-- Body --*/

// (begin) Sticky Footer
html, body {
    height: 100%;
}

body {
    .body-copy();
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

// (end) Sticky Footer

.h2, .h3, .h4, .h5, .h6 {
    text-align: center;
}

button {
    .btn();
}


/*-- Header --*/
.home-header {
    align-items: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    height: 80vh;

    .hero-banner {
        .top-logo {  //Hero Logo
            width: 250px;
        }
    }

    h1 {
        .header();
        margin-top: 50px;
        text-shadow: @txt-shdw;
    }

    .guarantee { //100% Satisfaction line
        margin-top: 15px;
        margin-bottom: 115px;
        .small-text ();
        text-align: center;
        text-shadow: @txt-shdw;
    }

    // Hamburger Menu (begin)    
    .hamburger{
        .hamburger();
    }

    .cross{
        .cross();
    }

    .menu {
        .ham-menu();
    }
    
    // Hamburger Menu (end)

    .desktop-nav {
        display: none;
    }
}



.home-about {
    padding: @pad;

    img {
        .img-md();
    }

    h2 {
        .h2();
    }
}

.home-services {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: @pad;

    h3 {
        .h3();
    }

    .two-col {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    
        .left-col, .rt-col {
            width: 50%;
        }
    }

    .four-grid {
        display: flex;
        flex-flow: column wrap;
        margin-top: 25px;
        padding: 10px 0;


        img {
            .grid-4();

        }
    }
}








/*-- Main --*/


/*-- Footer --*/
.footer {
    flex-shrink: 0;
}

.social-icons {
    ul {
        text-align: center;
        li {
            list-style-type: none;
            display: inline;
            a {
                img {
                    margin: 30px 50px;
                    width: 50px;
                }

            }
        }
    }
}


/*--******************** Start 650 Media Query *********************--*/



/*--********************* End 650 Media Query *********************--*/

/*--******************** Start 950 Media Query *********************--*/



/*--********************* End 950 Media Query *********************--*/

/*--******************** Start 1250 Media Query *********************--*/



/*--********************* End 950 Media Query *********************--*/

/*--******************** Start 1500 Media Query *********************--*/



/*--********************* End 1500 Media Query *********************--*/
