// Imports
@import "variables"; // variables.less

//MIXIN #1 Header
.header {
    color: @pale-green;
    font-family: 'Cinzel Decorative', sans-serif;
    font-size: 3.5rem;
    text-align: center;
}

//MIXIN #2 Body Copy
.body-copy {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    color: @text-color;
}

//MIXIN #3 Small Text
.small-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: .8rem;
    color: @pale-green;
    letter-spacing: .2rem;
}

// Header
.logo-left {
    .home-header {
        a {
            align-self: flex-start;
        }
    }
}

.banner {
    background-color: rgba(255, 255, 255, 0.11);
    text-align: center;
    width: 100%;
}

// Desktop Nav Menu
.desktop-nav {
    background-color: @bg-kolor;
    display: flex;
    flex-flow: row nowrap;
    font-family: 'Josefin Sans', sans-serif;
    font-size: .8rem;
    text-transform: uppercase;

    .nav-logo {  //Nav-bar logo
        width: 120px;
        margin-left: 30px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: inline-flex;

        li {
            padding: 30px;
            font-weight: 500;
            
            a {
                text-decoration: none;
                color: @text-color;
                padding-top: 80px;
                padding-bottom: 80px;
            }
        }
    }
}

// Hamburger Nav Menu
.hamburger-cross {
    background:#bece955b;
    border:0;
    border-radius: 50%;
    color: @b-dkgrn;
    cursor:pointer;
    font-weight:bold;
    margin-bottom: 25px;
    outline:none;
    z-index:@z;
}

.hamburger {
    .hamburger-cross();
    font-size: 28px;
    line-height:45px;
    padding:5px 15px 5px 15px;
}

.cross{
    .hamburger-cross();
    font-size: 60px;
    height: 50px;
    line-height:65px;
    padding:0 15px 0 15px;
}

.ham-menu {
    z-index:@z; 
    font-weight:bold; 
    font-size:0.8rem; 
    width:100%; 
    background: @b-grn-lt;  
    position:absolute; 
    text-align:center; 
    font-size:1rem;
    left: 0;

    .nav-main {
        margin: 0; 
        padding: 0; 
        list-style-type: none; 
        list-style-image: none;
    
        li {
            display: block;   
            padding:15px 0 15px 0; 
            border-bottom: @pale-green 1px solid;
        
            a { 
                text-decoration:none;  
                margin: 0px; 
                color: @b-blk;
            }
        }
    
        li:hover {
            display: block;    
            background: @b-dkgrn; 
            padding:15px 0 15px 0; 
            border-bottom: @b-grey 1px solid;
        
            a {  
                color: @pale-green; 
                text-decoration:none;
            }
        }
    }
}

// Image Mixins
.img-sm {
    max-width: @img-sm;
    width: 100%;
}

.img-md {
    max-width: @img-md;
    width: 100%;
}

.img-lg {
    max-width: @img-lg;
    width: 100%;
}

.thumbnail {
    max-width: @thnl;
    width: 100%;
}

.grid-4 {
    .img-sm();
    box-shadow: @box-shdw;
    margin: @pad;

}

// Heading Mixins
.h2 {
    color: @dark-green;
    font: normal 400 2rem/1.5 'Cinzel Decorative', sans-serif;
    margin-top: 25px;
}

.h3 {
    color: @bright-green;
    font: normal 400 1.5rem/1.5 'Cinzel Decorative', sans-serif;
    margin-top: 25px;
    text-shadow: @shadow;
}

.h4 {
    color: @dark-green;
    font: normal 400 1.25rem/1.5 'Cinzel Decorative', sans-serif;
    margin-top: 25px;
}

.h5 {
    color: @dark-green;
    font: normal 400 4rem/1 'Cinzel Decorative', sans-serif;
    margin-top: 25px;
}

// Button Mixin
.btn {
    background-color: @btn;
    border-radius: 5px;
    padding: @pad;
}


