@pale-green: #bece95;

@bright-green: #a1d73f;

@dark-green: #353f13;

@light-blue: #a7c8ed;

@dark-blue: #37424a;

@text-color: #353f13;

@bg-kolor: #90bc61;

@b-grey: #cccec6; // Brand Grey

@b-blk: #10110c; // Brand Black

@b-grn-lt: #39b54a; // logo grass

@b-dkgrn: #056839; // logo C

@z: 1000000000; // z-index

@pad: 10px 15px; // padding

@txt-shdw: 1px 1px 2px @b-blk, 0 0 25px @b-grey, 0 0 5px @bright-green; // Header text-shadow

@box-shdw: 1px 1px 3px @b-blk; // Box Shadow